<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Speaknow</title>
    <link href="static/bootstrap.css" rel="stylesheet">
    <link href="static/css.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header-image">
        <div class="headline">
            <a href="/" ><div class="container">
                <h1 id="parallelogram">Speak Now</h1>
                <h2 id="parallelogram1"><i>Get Heard Get Answers</i></h2>
            </div></a>
        </div>
  </nav>
  <div class="container">
    {% block content %}

    {% endblock %}
  </div>
</body>
 <footer class="text-center">
                Speaknow is happy to present a way to connect those who wish to be heard with those that can make change. Your voice can and will be heard. We are all in this together, probably. 
                <p></p>
                <a href="#contact">38 Laskie St<br>SF CA<br>94103</a>
            <div class="row">
                <div class="col-lg-12">
                <p></p>
                    <p>Copyright &copy; Speaknow Network</p>
                </div>
            </div>
        </footer>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
</html>