{% extends 'base.html' %}
{% block content %}
<script>
function showform(question)
{
    document.getElementById("answerform").style.display="block";
    document.getElementById("questiondata").value=question
}
</script>

<h1>Welcome to your Town Hall,
{{townhall.representative.firstname}} {{townhall.representative.lastname}}<br>
</h1>
<h3>
Titled: 
{{townhall.description}} <br>
</h3>
At:
{{townhall.date}} <br>

{% for question in questions %}
By: {{question[1]}} {{question[2]}} <br>
{{question[0]}}
<button onclick="showform({{question}})">Answer this Question</button>
{% endfor %}

	<form id="answerform" method="GET" style="display:none;">
	<label for="Your response:">Your response:</label>
	<input type="text" name="answer">
	<input id="questiondata" type="hidden" name="questiondata" value="None">
	<input type="submit" value="Submit">
</form>

{% endblock %}