{% extends "base.html" %} 
{% block content %}
<script>
function showform(a)
{
    if(a==1) {
    	document.getElementById("participantform").style.display="block";
    	document.getElementById("representativeform").style.display="none";
    }
    else {
    	document.getElementById("representativeform").style.display="block";
    	document.getElementById("participantform").style.display="none";
    }
}
</script>
<div>
	<div class="buttonz">
	<h3 class="white">I am a...</h3>
	<button id="butt" class="btn btn-lg buttons" onclick="showform(1)">Participant</button>

	<button  id="butt" class="btn btn-lg buttons"onclick="showform(2)">Representative</button>
	</div>
	<br/>

	<form class="form-group" id="participantform" action="{{url_for('participant')}}" method="GET" style="display:none;">
	<label class="form-text text-muted" for="City:"></label>
	<input class="form-control" placeholder="City" type="text" name="city">
	<br>
	<input class="btn btn-lg buttons" type="submit" value="Submit">
</form>

	<form class="form-group" id="representativeform" action="{{url_for('representative')}}" style="display:none;">

	<label class="form-text text-muted" for="First Name:"></label>
	<input class="form-control" placeholder="City" type="First Name" name="first">
	</input>
	<label class="form-text text-muted" for="Last Name:"></label>
	<input class="form-control" type="text" placeholder="Last Name" name="last">
	</input>
	<label class="form-text text-muted" for="City:"></label>
	<input class="form-control" type="text" placeholder="City"name="city">
	</input>
	<br>
	<input class="btn btn-lg buttons" type="submit" value="Submit">
  </form>
 </div>
</header>
<div class="container">
        <hr class="featurette-divider">
        <div class="featurette" id="about">
            <img class="featurette-image img-circle img-responsive pull-right" width="304" src="https://image.ibb.co/guT5BF/sanders_teaser_2_copy.png">
            <h2 class="featurette-heading">Communicating with my followers<br>
                <span class="text-muted"><h3><i>its now a breeze</i></h3></span>
            </h2>
            <p class="lead">Thanks to Speaknow I'm able to field questions and speak directly to the people who want to hear from me first. I fully endorse Speaknow and in no way was I paid to write this. Mostly because I didnt.</p>
        </div>
        <hr class="featurette-divider">
        <div class="featurette" id="services">
            <img class="featurette-image img-circle img-responsive pull-left" width="304" src="http://skepticism-images.s3-website-us-east-1.amazonaws.com/images/jreviews/Gavin-Newsom.jpg">
            <h2 class="featurette-heading">Im Gavin Newsome<br>
                <span class="text-muted">I'm Pretty Cool Too.</span>
            </h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <hr class="featurette-divider">
        <div class="featurette" id="contact">
            <img class="featurette-image img-circle img-responsive pull-right" src="http://placehold.it/500x500">
            <h2 class="featurette-heading">The Third Heading
                <span class="text-muted">Will Seal the Deal.</span>
            </h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <hr class="featurette-divider">
    </div>
{% endblock %}
